body{
    padding:0;
margin:0;
font-family:"Lato Regular",sans-serif;
background-color:#fefefe;
}
.wrapper {
    display: flex;
    width: 1020px;
    flex-direction: column;
    justify-content: center;
}
div{
    box-sizing: border-box;
}
.clearfix:after{
    content:'';
    width:100%;
    display: table;
    clear:both;

}
header{
    background-color: #2d303a;
    
}
.container{
 
        max-width: 1020px;
        margin: 0 auto;
          padding: 0 40px;
        
   box-sizing: border-box;
}
.header__inner{
    
    margin-bottom:40px;
}
.header__logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:40px;
    margin-top:35px;

    float:left
  }
  .header__logo span {
    color: #f06c64;
  }
  nav{
      float:right;
      margin-top:45px;
    margin-right:14px;  }
  nav .menu{
   
      padding:0;
      margin:0;
  }
  .menu li{
      float:left;
      margin-left:40px;
  }
  .menu :nth-child(1) a{
      color:#f06c64;
     
  }
  .menu li a{
      color:#fff;
      text-decoration:none;
      text-transform: uppercase;
      font-size:12px;
      
  }
  ul li{
      color:#494e62;
  }
  .slider {
    padding-top: 53px;
    padding-bottom: 58px;
  
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
  }
  
  .slider-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-left-page {
    transition: transform 0.3s ease, opacity 0.2s linear;
  }
  
  .icon-right-page {
    transform: rotate(180deg);
  
    transition: transform 0.3s ease, opacity 0.2s linear;
  }
  
  .icon-right-page:hover,
  .icon-left-page:hover {
    opacity: 0.5;
  
    cursor: pointer;
  }
  
  .icon-left-page:hover {
    transform: scale(1.5);
  }
  
  .icon-right-page:hover {
    transform: scale(1.5) rotate(180deg);
  }
  
  .iphone-vertical {
    margin-right: 19px;
  }
  
  .iphone-horizontal {
    margin-right: 1px;
    margin-bottom: 2px;
  }