body {
    --primary: #f06c64;
    --dark-background: #2d303a;
    --light-background: #f2f2f2;
    --text: #666d89;
  
    margin: 0;
    padding: 0;
  
    font-family: "Lato", "Arial", sans-serif;
    font-weight: normal;
  
    background-color: white;
  }
  h2,
h3 {
  margin-block-start: 0;
  margin-block-end: 0;

  font-weight: 900;
  
  color: var(--text);
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 18px;
  letter-spacing: -0.01em;
  line-height: 0.8em;
}

.wrapper {
  width: 1020px;
  padding: 0 40px;
  margin: 0 auto;
  box-sizing: border-box;
}
.portfolio p,
.about-us p {
  margin-block-start: 18px;
  margin-block-end: 0;

  font: 300 18px/30px "Lato", "Arial", sans-serif;
  text-align: justify;
  letter-spacing: -0.012em;

  color: var(--text);
}