html {
  font-size: 10px;
}

html {
  font-size: 10px;
}

li {
  list-style: none;
}

img:focus {
  outline: none;
}


body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
}

.clearfix:after{
    content:'';
    width:100%;
    display: table;
    clear:both;

}
header{
    background-color: #2d303a;
    
}

.header__inner{
    
    margin-bottom:40px;
}
.header__logo {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.55px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    margin-top:0px;
    margin-bottom:0px;
    margin-left:40px;
    margin-top:35px;

    float:left
  }
  .header__logo span {
    color: #f06c64;
  }
  nav{
      float:right;
      margin-top:45px;
    margin-right:14px;  }
  nav .menu{
   
      padding:0;
      margin:0;
  }
  .menu li{
      float:left;
      margin-left:40px;
  }
  .menu :nth-child(1) a{
      color:#f06c64;
     
  }
  .menu li a{
      color:#fff;
      text-decoration:none;
      text-transform: uppercase;
      font-size:12px;
      
  }
  ul li{
      color:#494e62;
  }
  .slider {
    padding-top: 53px;
    padding-bottom: 58px;
  
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
  }
  
  .slider-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .icon-left-page {
    transition: transform 0.3s ease, opacity 0.2s linear;
  }
  
  .icon-right-page {
    transform: rotate(180deg);
  
    transition: transform 0.3s ease, opacity 0.2s linear;
  }
  
  .icon-right-page:hover,
  .icon-left-page:hover {
    opacity: 0.5;
  
    cursor: pointer;
  }
  
  .icon-left-page:hover {
    transform: scale(1.5);
  }
  
  .icon-right-page:hover {
    transform: scale(1.5) rotate(180deg);
  }
  
  .iphone-vertical {
    margin-right: 19px;
  }
  
  .iphone-horizontal {
    margin-right: 1px;
    margin-bottom: 2px;
  }
  .our-services-block {
    padding-top: 62px;
    padding-bottom: 62px;
  
    background-color: #f2f2f2;
    border-bottom: 6px solid white;
  }
  
  .our-services-block .wrapper > h2 {
    margin-bottom: 21px;
  
    letter-spacing: -0.35px;
    font-weight: 900;
    font-size: 3rem;
    color: #666d89;
  }
  
  .our-services-block .wrapper > p::first-line {
    letter-spacing: 0.15px;
  }
  
  .our-services-block .wrapper > p {
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 30px;
    color: #767e9e;
  }
  
  .icon-outer {
    display: flex;
    float: left;
    clear: left;
    width: 56px;
    height: 56px;
    margin-right: 20px;
  
    justify-content: center;
    align-items: center;
  
    border: 1.5px solid #666d89;
    border-radius: 50%;
  }
  
  .services-list {
    display: flex;
    padding-top: 47px;
  
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .services-item {
    width: 300px;

  }
  
  .services-item:nth-child(-n + 3) {
    margin-bottom: 32px;
  }
  
  .our-services-block .wrapper > div > div > h3 {
    margin-bottom: 9px;
  
    font-weight: 900;
    font-size: 1.8rem;
    color: #666d89;
  }
  
  .our-services-block .wrapper > div > div > p {
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 21px;
    color: #767e9e;
  
    text-align: justify;
    overflow: hidden;
  }